* {
	padding: 0px;
	margin: 0px;
	font-family: "幼圆", sans-serif;
	
	/* 禁止文本选中 */
	-moz-user-select:none;/* 火狐 */
	-webkit-user-select:none;/* webkit浏览器 */
	-ms-user-select:none;/* IE10 */
	-khtml-user-select:none;/* 早期浏览器 */
	/* user-select:none; */
	/* 禁止文本选中结束 */
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476689941'); /* IE9*/
  src: url('iconfont.eot?t=1476689941#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476689941') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476689941') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476689941#iconfont') format('svg'); /* iOS 4.1- */
}

#main {
   /* width: 600px;*/
    text-align: center;
    z-index: auto;
    margin: 0px auto;
}
h1{

    font-size: 70px;
    font-weight: 100;
    padding-top: 120px;
   font-family: 幼圆, sans-serif;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    /* -moz-osx-font-smoothing: grayscale; */
}

.addonediv{
	float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}

#addmission{
  border-radius: 5px;
  border: 1px solid gray;
  width:80%;
  height: 350px;
  position: absolute;
  top:120px;
  background-color: #fff;
  box-shadow: 0 0 30px #000;
  margin:auto;  
  left:0;
  right:0;  
}
.addnav{
  width: 100%;
  height: 55px;
  line-height: 55px;
}
.addMission-nav-title{
  display: inline-block;
}

.addmossion-close{
  display: inline-block;
  right: 20px;
  position: absolute;
}

.addmission-main{
  text-align: left;
  margin-left: 5%;
  margin-top: 5%;
}

.addmission-main-1{
  margin-bottom: 30px;
}

.addMission-main-button{
    position: absolute;
    right: 5%;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
    display: inline-block;
    margin: 0 auto;
    font-size: 22px;
    cursor: pointer; 
}

#addmission .addmission-main .addMission-main-button-sub,  #addmission .addmission-main  .addMission-main-button-add{
  background-color: #D9534F;
  height: 30px;
  width: 40px;
  display: inline-block;
  border-radius: 4px;
}

#addmission .addmission-main .addMission-main-button-add{
  background-color: #428BCA;
}

*{
  font-family:"PingFang SC"
}
.addmission-ul .addmission-il {
  list-style: none;
  float: left; 
  text-align: left;  
  padding-right: 10px;
  padding-bottom: 10px;
  width: 30%;
  height: 30px; 
}

.mission-ul .mission-il {
  list-style: none;
  float: left; 
  text-align: right;  
  padding-left: : 10px;
  padding-bottom: 10px;
  width: 8%;
  height: 30px; 
}

.mission-cell{

  width: 100%;
  height: 35px;
  border-bottom: solid 1px  #cccccc;
}

.noboarder{
  border: 0px solid transparent;
}
.width50{
  width: 50%;
  display: inline-block;
}
.addmission-foot{

  border-top: 1px solid #E5E5E5;
  width: 100%;
  height: 50px;
  display: block;
  line-height: 40px;
  bottom: 0px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

#setting{
  margin-top: 120px;
}

#setting-content{
    position: absolute;
    width: 70%;
    top: 0px;
    left: 20%;
    margin-top: 180px;
}
.setting-base{
  width: 100%;
  height: 100%;
}
.menu-set-item{
  list-style: none;
  width: 50%;
}
